.content {
  overflow-wrap: break-word;
}

.backButton {
  padding: 0 0.8rem;
}

.backButton:hover {
  cursor: pointer;
}

.subNav {
  padding: 0;
}

.subNavList {
  padding: 0.5rem 0;
}

.navText {
  text-transform: capitalize;
}
