.nav-item {
  margin: 0;
  padding: 10px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  transition: linear 0.1s;
}

@media screen and (max-width: 992px) {
  .nav-item {
    margin: 0;
    padding: 0.8rem;
  }
}
